* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "victorMono";
  src: url("./assets/fonts/VictorMono-VariableFont_wght.ttf") format("opentype");
}

:root {
  --main-color: #c96c37;
  --secondary-color: #8d3300;
  --container-color: #d9d9d9;
}

body {
  background: linear-gradient(#c96c37, #8d3300);
  background-repeat: no-repeat;
  min-height: 100vh;
}

ul {
  list-style: none;
  padding: 0;
  margin-bottom: 4rem;
  display: flex;
  justify-content: space-between;
}

a {
  text-decoration: none;
  color: #d9d9d9;
}

h1,
h2,
h3,
h4,
p,
select {
  font-family: "victorMono";
  color: white;
  margin: 0;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 725px) {
  .mainPage {
    display: flex;
    flex-direction: column;
  }

  .globalInformationcontainer {
    display: flex;
    justify-content: flex-end;
  }

  .globalInformation {
    width: 80vw;
  }
}
