/* Importation de la police */
@font-face {
  font-family: "victorMono";
  src:
    url("./assets/fonts/VictorMono-VariableFont_wght.ttf") format("opentype")
}

/* création des variables  */
:root {
  --main-color: #C96C37;
  --secondary-color : #8D3300 ;
  --container-color:#D9D9D9; /* transparence 50 */
}

/* global */

html {
  height: 100%;
}

body {
  background: linear-gradient(#C96C37, #8D3300);
  background-repeat: no-repeat;
  height: 100%;
}

h1, h2, h3, p {
  font-family: "victorMono";
  color: white;
}

