body {
  margin: 0;
  padding: 0;
}

.weatherLogo {
  width: 4rem;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.current_weather {
  background-color: rgba(217, 217, 217, 0.5);
  text-align: center;
  border-radius: 1.5rem;
  width: 75vw;
  padding: 0.5em;
  margin-top: 2rem;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  box-shadow: 0px 0px 26px 5px rgba(91, 34, 1, 0.59);
  -webkit-box-shadow: 0px 0px 26px 5px rgba(91, 34, 1, 0.48);
  -moz-box-shadow: 0px 0px 26px 5px rgba(91, 34, 1, 0.18);
}

.currentWeather_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.mars {
  padding-top: 2rem;
}

@media screen and (min-width: 725px) {
  .container {
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    margin-top: 2.7rem;
    width: 80vw;
  }

  .current_weather {
    margin-left: auto;
    width: 50vw;
    margin-right: 7.4rem;
  }

  .currentWeather_box {
    margin-left: 4rem;
  }

  .mars {
    margin: 0 auto;
    padding-top: 0.1rem;
  }
}

@media screen and (min-width: 900px) {
  .current_weather {
    margin-right: 8.3rem;
  }
}
