h1 {
  text-align: center;
}

.shipContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.shipCards {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
  margin: 4vh;
}
.card {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: rgba(217, 217, 217, 0.5);
  width: 85vw;
  height: 40vh;
  padding: 2vw;
  margin: 7vw;
  border-radius: 1.5rem;
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.price {
  display: flex;
  align-items: center;
}

.shipChoice {
  display: flex;
  flex-direction: column;
  background-color: rgba(217, 217, 217, 0.5);
  width: 30vw;
  height: 20vh;
  border-radius: 1.5rem;
  align-items: center;
  justify-content: center;
  text-align: center;
}
