/* global */

.activitiesContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 4vh;
}

/* form */

.activitiesForm {
  text-align: center;
  font-size: 1.35rem;
}

.activitiesQuestion {
  display: flex;
  flex-direction: column;
  background-color: rgba(217, 217, 217, 0.5);
  width: 90vw;
  height: 40vh;
  padding: 2vw;
  border-radius: 1.5rem;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 26px 5px rgba(91, 34, 1, 0.59);
  -webkit-box-shadow: 0px 0px 26px 5px rgba(91, 34, 1, 0.48);
  -moz-box-shadow: 0px 0px 26px 5px rgba(91, 34, 1, 0.18);
}

.activitieschoice {
  margin-top: 2.5vh;
}

/* small fix on the select button if you could guys*/
.activitieschoice select {
  font-size: 1rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url("../../../assets/images/caret-down-fill.svg");
  background-repeat: no-repeat;
  background-position:
    right 0.7em top 50%,
    0 0;
  background-size:
    0.7em 0.7em,
    100%;
}

/* change this part or remove it up to you guys*/
.activitieschoice select:hover {
  background-color: rgba(217, 217, 217, 0.7);
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.questionForm {
  background-color: var(--container-color);
  border: none;
  color: var(--secondary-color);
  padding: 1vw;
  border-radius: 1.5rem;
  width: 85vw;
  text-align: center;
  margin-top: 1vh;
  cursor: pointer;
}

.activitiesValidation {
  margin: 1rem 0;
  background-color: rgba(217, 217, 217, 0.5);
  color: white;
  font-size: large;
  font-weight: bold;
  font-family: "victorMono";
  border: none;
  border-radius: 1.5rem;
  min-width: 10vw;
  height: 5vh;
  padding: 0 1rem;
  cursor: pointer;
  box-shadow: 0px 0px 26px 5px rgba(91, 34, 1, 0.59);
  -webkit-box-shadow: 0px 0px 26px 5px rgba(91, 34, 1, 0.48);
  -moz-box-shadow: 0px 0px 26px 5px rgba(91, 34, 1, 0.18);
}

.activitiesValidation:hover {
  background-color: rgba(217, 217, 217, 0.8);
}

/* to do */
.todoContainer {
  background-color: rgba(217, 217, 217, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90vw;
  border-radius: 1.5rem;
  padding: 2vw;
  margin-bottom: 2vh;
  display: none;
}

.todoContainerVisibility {
  display: flex;
}

.todoArticle {
  display: flex;
  flex-direction: column;
  background-color: var(--container-color);
  margin: 1vh;
  width: 85vw;
  min-height: 21vh;
  border-radius: 1.5rem;
  justify-content: center;
  align-items: center;
}

.todoArticle > h5,
.todoArticle > p {
  color: var(--secondary-color);
}

.todoArticle > p {
  text-align: center;
}

/*/////////////Responsive////////////////*/
@media screen and (min-width: 725px) {
  .activitiesContainer {
    flex-direction: row;
    align-items: unset;
  }

  .activitiesQuestion,
  .todoContainer {
    height: 77vh;
  }

  .activitiesQuestion {
    width: 52vw;
    margin-right: 4vh;
  }

  .questionForm {
    width: 46vw;
    height: 7vh;
  }

  .activitiesValidation {
    margin-bottom: 3vh;
  }

  .todoContainer {
    max-width: 37vw;
    margin: 0;
  }

  .todoArticle {
    width: 35vw;
  }
}
