/* * {
  padding: 0;
  margin: 0;
  box-sizing: 0;
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color:transparent;
  padding: 1rem;
  position: absolute;
  width: 100vw;
  min-height: 75px;
  color: aliceblue;
  z-index: 1;
}

.navbar_links {
  display: flex;
  
}

.navbar_link {
  padding: 0 0.3rem;
  color: inherit;
}

nav ul li a {
  display: block;
  text-decoration: none;
  color: white;
  padding: 0.5rem;
  margin: 0.5rem 0.5rem;
  border-radius: 0.5rem;
  text-align: center;
}

nav ul li a:not(.active):hover {
  background-color: rgba(217, 217, 217, 0.5);
}

.active {
  background-color: rgba(217, 217, 217, 0.5);
}

@media (min-width: 725px) {
  nav .menu-button img {
    display: none;
  }

  nav {
    margin-top: 2rem;
    display: unset;
    justify-content: center;
    margin-bottom: 0.3rem;
  }

  nav ul {
    display: flex;
    justify-content: space-evenly;
    margin-left: -0.2rem;
  }
  nav ul li a {
    font-size: 1.1rem;
  }
  .show-nav .slideInDown-3 {
    transition: all 1.2s ease-out;
  }
} */

/*
@media (min-width: 725px) {
} */
